.nav {
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 100;
}

.nav-container {
  display: flex;
  flex-direction: row;

  width: 100%;
  max-width: 1200px;

  margin-left: auto;
  margin-right: auto;

  padding-left: 24px;
  padding-right: 24px;
}

.logo {
  width: 192px;
  margin-right: 24px;
}

.nav .search-container {
  margin-top: 8px;
}
